In [1]:
#Loading the train dataset into a pandas dataframe
import pandas as pd
names =[
't', # Time (secs)
'q1', 'q2', 'q3', # Joint angle
'dq1', 'dq2', 'dq3', # Joint velocity
'I1', 'I2', 'I3', # Motor current (A)
'eps21', 'eps22', 'eps31', 'eps32', # Strain measurements
'ddq1', 'ddq2', 'ddq3' # Joint accelerations
]
df = pd.read_csv('exp_train.csv', header=None,sep=',',
names=names, index_col=0)
df.head(6)

,q1,q2,q3,dq1,dq2,dq3,I1,I2,I3,eps21,eps22,eps31,eps32,ddq1,ddq2,ddq3
t,,,,,,,,,,,,,,,,
0.00,-0.000007,2.4958,-1.1345,-7.882100e-21,-4.940656e-321,3.913100e-29,-0.081623,-0.40812,-0.30609,-269.25,-113.20,3.5918,1.57860,-9.904900e-19,-6.210306e-319,4.917400e-27
0.01,-0.000007,2.4958,-1.1345,-2.258200e-21,-4.940656e-321,2.626200e-31,-0.037411,-0.37241,-0.26698,-270.91,-116.05,1.4585,-1.73980,4.248100e-19,-1.766878e-319,-1.381100e-27
0.02,-0.000007,2.4958,-1.1345,-6.469800e-22,-4.940656e-321,1.762500e-33,-0.066319,-0.40302,-0.31459,-269.25,-112.97,3.5918,0.86753,3.233800e-19,-4.990557e-320,-4.117300e-28
0.03,-0.000007,2.4958,-1.1345,-1.853600e-22,-4.940656e-321,1.182800e-35,-0.068020,-0.43703,-0.28398,-269.97,-114.39,1.6956,-0.08059,1.500500e-19,-1.394253e-320,-1.173100e-28
0.04,-0.000007,2.4958,-1.1345,-5.310600e-23,-4.940656e-321,-5.270900e-03,-0.052715,-0.40472,-0.30779,-269.97,-114.15,3.1177,0.86753,5.932400e-20,-3.581976e-321,-3.770800e-01
0.05,-0.000007,2.4958,-1.1345,-1.521500e-23,-4.940656e-321,3.252600e-04,-0.088425,-0.42342,-0.29589,-269.25,-114.15,2.4066,-0.08059,2.164600e-20,-1.141292e-321,2.930300e-01

In [2]:
#Import Libraries
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
X = df[['q2','dq2','eps21','eps22', 'eps31', 'eps32','ddq2']]

In [4]:
X.head(5)

          q2            dq2   eps21   eps22   eps31    eps32           ddq2
t
0.00  2.4958 -4.940656e-321 -269.25 -113.20  3.5918  1.57860 -6.210306e-319
0.01  2.4958 -4.940656e-321 -270.91 -116.05  1.4585 -1.73980 -1.766878e-319
0.02  2.4958 -4.940656e-321 -269.25 -112.97  3.5918  0.86753 -4.990557e-320
0.03  2.4958 -4.940656e-321 -269.97 -114.39  1.6956 -0.08059 -1.394253e-320
0.04  2.4958 -4.940656e-321 -269.97 -114.15  3.1177  0.86753 -3.581976e-321

In [5]:
y = df['I2']

In [6]:
#Fitting the linear regression model to the training dataset
model = LinearRegression().fit(X, y)

In [7]:
#Calculating the root mean square error
from sklearn.metrics import mean_squared_error
y_pred1 = model.predict(X)
mean_squared_error(y, y_pred1)

0.010936466882766274

In [9]:
#Calculating the slope and intercept of the line
print('intercept:', model.intercept_)
print('slope:', model.coef_)

intercept: -0.08408083770449928
slope: [ 0.06255018  0.20584896  0.00118784  0.00044457 -0.0031362   0.00603298
  0.05487097]

In [10]:
#Loading the test data into a pandas dataframe
names =[
't', # Time (secs)
'q1', 'q2', 'q3', # Joint angle
'dq1', 'dq2', 'dq3', # Joint velocity
'I1', 'I2', 'I3', # Motor current (A)
'eps21', 'eps22', 'eps31', 'eps32', # Strain measurements
'ddq1', 'ddq2', 'ddq3' # Joint accelerations
]
dftest = pd.read_csv('exp_test.csv', header=None,sep=',',
names=names, index_col=0)
dftest.head(6)

,q1,q2,q3,dq1,dq2,dq3,I1,I2,I3,eps21,eps22,eps31,eps32,ddq1,ddq2,ddq3
t,,,,,,,,,,,,,,,,
0.00,-0.000007,1.9024,0.26063,-0.000364,4.940656e-321,0.012596,-0.096928,-0.15134,-0.017005,-130.83,-41.856,-6.3635,5.13410,-0.045712,6.210306e-319,1.582900
0.01,0.000013,1.9024,0.26073,0.000739,4.940656e-321,0.012095,-0.028908,-0.11903,-0.020406,-138.18,-51.100,-14.6590,-5.05820,0.125580,1.766878e-319,0.414660
0.02,-0.000007,1.9024,0.26086,-0.000580,4.940656e-321,0.011596,-0.059517,-0.13944,-0.047614,-139.36,-51.812,-14.6590,-5.29520,-0.130080,4.990557e-320,0.082286
0.03,0.000013,1.9024,0.26099,0.001409,4.940656e-321,0.013933,-0.079923,-0.15304,-0.023807,-135.57,-48.019,-11.3410,-0.79168,0.213010,1.394253e-320,0.190650
0.04,-0.000007,1.9024,0.26110,-0.001273,4.940656e-321,0.010793,-0.025507,-0.12924,-0.006802,-135.81,-49.204,-12.0520,-2.21390,-0.276490,3.581976e-321,-0.170400
0.05,-0.000007,1.9024,0.26124,0.001928,4.940656e-321,0.011915,-0.083324,-0.14964,-0.034010,-139.60,-53.471,-16.0820,-6.95450,0.323560,1.141292e-321,0.031745

In [11]:
df1_test=dftest[['q2','dq2','eps21','eps22', 'eps31', 'eps32','ddq2']]

In [12]:
y_test=dftest[['I2']]

In [13]:
y_pred2 = model.predict(df1_test)

In [14]:
#Calculating the MSE on the test function
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred2)

0.009723098281465526