In [41]:
#Importing Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.datasets import load_boston
boston_dataset = load_boston()
boston = pd.DataFrame(boston_dataset.data,
columns=boston_dataset.feature_names)
boston.head(5)
boston['MEDV'] = boston_dataset.target
boston.head(5)

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [42]:
#Loading data and process data between 0 and 1
X=boston
print(X.min())
print(X.max())
X= ((X- X.min()) / (X.max() - X.min()))* (1 - 0) + 0;
y=boston['MEDV']
print(y.min())
print(y.max())
y= ((y- y.min()) / (y.max() - y.min()))* (1 - 0) + 0;
print(X)
print(y)
X = X.loc[:,:'LSTAT']
X.head(5)

CRIM         0.00632
ZN           0.00000
INDUS        0.46000
CHAS         0.00000
NOX          0.38500
RM           3.56100
AGE          2.90000
DIS          1.12960
RAD          1.00000
TAX        187.00000
PTRATIO     12.60000
B            0.32000
LSTAT        1.73000
MEDV         5.00000
dtype: float64
CRIM        88.9762
ZN         100.0000
INDUS       27.7400
CHAS         1.0000
NOX          0.8710
RM           8.7800
AGE        100.0000
DIS         12.1265
RAD         24.0000
TAX        711.0000
PTRATIO     22.0000
B          396.9000
LSTAT       37.9700
MEDV        50.0000
dtype: float64
5.0
50.0
         CRIM    ZN     INDUS  CHAS  ...   PTRATIO         B     LSTAT      MEDV
0    0.000000  0.18  0.067815   0.0  ...  0.287234  1.000000  0.089680  0.422222
1    0.000236  0.00  0.242302   0.0  ...  0.553191  1.000000  0.204470  0.368889
2    0.000236  0.00  0.242302   0.0  ...  0.553191  0.989737  0.063466  0.660000
3    0.000293  0.00  0.063050   0.0  ...  0.648936  0.994276  0.033389  0.631111
4    0.000705  0.00  0.063050   0.0  ...  0.648936  1.000000  0.099338  0.693333
..        ...   ...       ...   ...  ...       ...       ...       ...       ...
501  0.000633  0.00  0.420455   0.0  ...  0.893617  0.987619  0.219095  0.386667
502  0.000438  0.00  0.420455   0.0  ...  0.893617  1.000000  0.202815  0.346667
503  0.000612  0.00  0.420455   0.0  ...  0.893617  1.000000  0.107892  0.420000
504  0.001161  0.00  0.420455   0.0  ...  0.893617  0.991301  0.131071  0.377778
505  0.000462  0.00  0.420455   0.0  ...  0.893617  1.000000  0.169702  0.153333

[506 rows x 14 columns]
0      0.422222
1      0.368889
2      0.660000
3      0.631111
4      0.693333
         ...
501    0.386667
502    0.346667
503    0.420000
504    0.377778
505    0.153333
Name: MEDV, Length: 506, dtype: float64

       CRIM    ZN     INDUS  CHAS  ...       TAX   PTRATIO         B     LSTAT
0  0.000000  0.18  0.067815   0.0  ...  0.208015  0.287234  1.000000  0.089680
1  0.000236  0.00  0.242302   0.0  ...  0.104962  0.553191  1.000000  0.204470
2  0.000236  0.00  0.242302   0.0  ...  0.104962  0.553191  0.989737  0.063466
3  0.000293  0.00  0.063050   0.0  ...  0.066794  0.648936  0.994276  0.033389
4  0.000705  0.00  0.063050   0.0  ...  0.066794  0.648936  1.000000  0.099338

[5 rows x 13 columns]

In [43]:
#K-fold cross validation and ridge regression
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
result=[]
for i in range(10):
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=i+1)
  #print(X_train)
  #print(X_test)
  clf = Ridge(alpha=1.0)
  model=clf.fit(X_train, y_train)
  ypred=model.predict(X_test)
  result.append(model.score(X_test,y_test))
print(result)
  #print(result)
  #r2_value=R2_score(y_test,ypred)
  #print(r2_value)
  #ytest-pred

[0.7511049763703698, 0.7773791807696733, 0.7772755626444607, 0.7163674918405398, 0.7430124278753145, 0.6834067161095363, 0.5999889631074888, 0.7140086727971446, 0.7580559662131001, 0.6664816105556686]